  <tr id='funnel_event_<%=funnel_event.id%>' class='funnel_event'>
    <td><%= funnel_event.id %></td>
    <td><%= funnel_event.name %></td>
    <td><%= funnel_event.from %></td>
    <td><%= funnel_event.to %></td>
    <td><%= funnel_event.url.sub(/https?:\/\/[^\/]+/,'') unless funnel_event.url.nil? %></td>	 	 	 
    <td><%= funnel_event.user.email unless funnel_event.user.nil? %>
	 <%= funnel_event.funnel_visitor.user.email unless funnel_event.funnel_visitor.nil? or funnel_event.funnel_visitor.user.nil? %>
	 </td>
    <td><%= funnel_event.funnel_visitor.key[0..5]+'...' unless funnel_event.funnel_visitor.nil? %></td>	 
    <td><%= funnel_event.funnel_visitor.ip unless funnel_event.funnel_visitor.nil? %></td>	 
    <td><%#= human_time(funnel_event.created_at) %><%=funnel_event.created_at.to_s(:short)%>
	 <span id='datetime_<%=funnel_event.id%>' style="display: none;"><%=funnel_event.created_at%></span></td>
	 <td><%=link_to 'Show', funnel_event_path(funnel_event)%></td>
  </tr>