<h3>Last <%=@funnel_events.count%> Conversion Funnel Events - <%=human_time(@funnel_events.first.created_at) unless @funnel_events.empty?%> to <%=human_time(@funnel_events.last.created_at) unless @funnel_events.empty?%></h3>
<h4><%=link_to 'View Funnel Diagram & Conversion Rates', '/funnel_events/diagram' %></h4>
<table class='admin_table' id='funnel_events'>
  <tr class='admin_table_header' id='funnel_events_header'>
    <th>ID</th>
    <th>Event</th>
    <th>From</th>
    <th>To</th>	 	 
    <th>URL</th>
    <th>Email</th>
    <th>Visitor Key</th>
    <th>IP</th>
    <th>Referer</th>
	 <th>Date</th>
  </tr>
	<%= render :partial => 'funnel_event', :collection=>@funnel_events %>
</table>
<script type="text/javascript">
function timestampParam(){
	 var timestamp_id = $$('tr.funnel_event').first().childElements().first().innerHTML;
	 var timestamp = $('datetime_'+timestamp_id).innerHTML;
	 return encodeURI(timestamp);
}
</script>
<%= periodically_call_remote(:url=>{:controller=>'funnel_events', :action => 'index', :format=>:js}, 
										:frequency=>10, :method=>:get,
										:with => "'timestamp=' + timestampParam()") %>
