  <tr id='event_<%=event.id%>' class='event'>
    <td><%= event.id %></td>
    <td><%= event.name %></td>
    <td><%= event.from %></td>
    <td><%= event.to %></td>
    <td><%= event.url.sub(/https?:\/\/[^\/]+/,'') unless event.url.nil? %></td>
    <td><%= event.visitor.user.email unless event.visitor.nil? or event.visitor.user.nil? %></td>
    <td><%= link_to event.visitor.id.to_s[0..5]+'...', analytics_visitor_path(event.visitor) unless event.visitor.nil? %></td>
    <td><%= event.visitor.ip unless event.visitor.nil? %></td>
    <td><%= event.created_at.to_s(:short) if event.created_at %>
	 <span id='datetime_<%=event.id%>' style="display: none;"><%=event.created_at%></span></td>
	 <td><%=link_to 'Show', analytics_event_path(event)%></td>
  </tr>