<%- style='' if local_assigns[:style].nil? -%>
<%- date_range = 14.days.ago..0.days.ago if local_assigns[:date_range].nil? -%>
<%- top_label = true if local_assigns[:top_label].nil? -%>
<%- bottom_label = true if local_assigns[:bottom_label].nil? -%>
<%- next_state = next_state_from(state) if local_assigns[:next_state].nil? -%>
<%- id = "#{state}-#{next_state}" -%>
<%- stats = FunnelCake::Engine.conversion_stats(state, next_state, {:date_range=>date_range, :attrition_period=>1.month}) -%>
<div class='funnel_stage' id='funnel_stage_<%=id%>'>
	<div class='funnel_top_label funnel_stage_label' style='<%="display: none;" unless top_label%>'><%= state.to_s.titleize %></div>
	<div class='funnel_stage_container' id='funnel_stage_<%=id%>' style='<%=style%>'>
		<div class='funnel_rate_label'>
			<span class="count_stats start_count"><%= stats[:start_count] %></span><br/>
			<span class="rate_stats"><%= number_to_percentage(stats[:rate]*100.0, :precision=>1) %></span><br/>
			<span class="count_stats end_count"><%= stats[:end_count] %></span>
		</div>
	</div>
	<div class='funnel_bottom_label funnel_stage_label' style='<%="display: none;" unless bottom_label%>'><%= next_state.to_s.titleize %></div>
	<img class='spinner' id='funnel_stage_<%=id%>_spinner' src='/images/ajax-loader.gif' style='display: none;'/>
</div>
