<div class="section span-12">
	<%= render :partial => 'analytics/common/filter_fields_input', :style=>'font-size: 14px' %>
	<%= render :partial => 'analytics/common/daterange_label' %>
</div>
<div class='clear'><br /></div>
<div class="section">
	<div class="column span-8">
		<h2>Funnel Diagram</h2>
		<%= render 'funnel_diagram' %>
	</div>
	<div class="column span-9 last">
		<h2>Primary Conversion Rates</h2>
		<div class="column span-3">
			<%- Analytics::Visitor.primary_states.each_with_index do |state, i| -%>
			 	<%= render 'analytics/stages/stage', :state=>state,
							:date_range=>current_period(2.weeks),
							:top_label=>(i==0) if next_state_from(state) %>
			<%- end -%>
		</div>
		<div class='state_chart_container' id='state_chart_container' style="float: left; width: 325px; height: 1000px;">
			<%- Analytics::Visitor.primary_states.each do |state| -%>
				<%= render 'analytics/states/graph', :state=>state if next_state_from(state) %>
			<%- end -%>
		</div>
	</div>
</div>
<div class="section span-12">
	<div class="debug_output" id="debug_output"></div>
	<div class="section"	id="funnel_info"></div>
</div>
<script type="text/javascript">
<%= render 'analytics/common/filter_fields_update.js' %>
<%= render 'analytics/common/graph_update.js' %>

	var updateAnalyticsStats = function() {
		<%= render :partial => 'analytics/common/grab_filter_fields.js' %>

		funnelChart.refreshData(periodStart(period), periodEnd(period), opts);
		updateStateGraphs(periodDays(period), opts);
		updateFunnelDiagram(periodDays(period), opts);
		setPeriodLabel(period)
	}

	var funnelChart = new FunnelChart('.funnel_stage', {
		padding: 10,
		authenticity_token: '<%=escape_javascript(form_authenticity_token)%>'
	});
	funnelChart.draw();

	updateAnalyticsStats();
</script>
