<table class='admin_vtable'>
	<tr><th>ID:</th><td><%= @event.id %></td></tr>
	<tr><th>Name:</th><td><%= @event.name %></td></tr>
	<tr><th>From:</th><td><%= @event.from %></td></tr>
	<tr><th>To:</th><td><%= @event.to %></td></tr>
	<tr><th>URL:</th><td><%= @event.url.sub(/https?:\/\/[^\/]+/,'') unless @event.url.nil? %></td></tr>
	<tr><th>Email:</th><td><%= @event.user.email unless @event.user.nil? %>
	<%= @event.visitor.user.email unless @event.visitor.nil? or @event.visitor.user.nil? %>
	</td></tr>
	<tr><th>Visitor Key:</th><td><%= @event.visitor.id.to_s[0..5]+'...' unless @event.visitor.nil? %></td></tr>
	<tr><th>IP:</th><td><%= @event.visitor.ip unless @event.visitor.nil? %></td></tr>
	<tr><th>Referer:</th><td><%= @event.referer %></td></tr>
	<tr><th>User-Agent:</th><td><%= @event.user_agent %></td></tr>

	<tr><th>Date:</th><td><%#= human_time(@event.created_at) %><%=@event.created_at.to_s(:short)%>
	<span id='datetime_<%=@event.id%>' style="display: none;"><%=@event.created_at%></span></td></tr>
</p>
<%= link_to 'Back', analytics_events_path %>