<h1>Editing ignore</h1>

<% form_for(@ignore) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ignore %> |
<%= link_to 'Back', analytics_ignores_path %>