<%- stat = 'number' if local_assigns[:stat].nil? -%>
<%- options = {} if local_assigns[:options].nil? -%>
<div class='funnel_conversion_graph' id='funnel_conversion_graph_<%=start_state%>-<%=end_state%>_<%=stat%>'>
</div>
<script type='text/javascript'>
	new ConversionGraph($('funnel_conversion_graph_<%=start_state%>-<%=end_state%>_<%=stat%>'), $H({
		startState: '<%=start_state%>',
		endState: '<%=end_state%>',
		stat: '<%=stat%>'
	}).merge(<%= options.to_json %>).toObject());
</script>
