<div class="section span-12">
	<h1><span><%=@state.to_s.titleize%></span> to <span><%=@next_state.to_s.titleize%></span></h1>
	<div class="section span-12">
		<%= render :partial => 'analytics/common/filter_fields_input', :style=>'font-size: 14px' %>
		<%= render :partial => 'analytics/common/daterange_label' %>
	</div>
</div>
<div class="section span-12">
	<div class="column span-4">
		<%= render 'stage', :state=>@state, :next_state=>@next_state, :date_range=>current_period(2.weeks) %>
	</div>
	<div class='column span-8 last' id='state_chart_container'>
		<%= render 'analytics/states/graph', :state=>@state %>
		<div class='visitors_notes_container' id='visitors_notes_container_<%=@state%>-<%=@next_state%>' style='clear: both;'>
		</div>
	</div>
</div>
<script type="text/javascript">
<%= render 'analytics/common/graph_update.js' %>
<%= render 'analytics/common/filter_fields_update.js' %>
<%= render 'analytics/common/visitors_update.js' %>

	var updateAnalyticsStats = function() {
		<%= render :partial => 'analytics/common/grab_filter_fields.js' %>

		funnelChart.refreshData(periodStart(period), periodEnd(period));
		updateStateGraphs(periodDays(period));
		updateVisitorInfo(periodDays(period));
		setPeriodLabel(period)
	};

	var funnelChart = new FunnelChart('.funnel_stage', {
		padding: 10,
		authenticity_token: '<%=escape_javascript(form_authenticity_token)%>',
	});
	funnelChart.draw();

	updateAnalyticsStats();
</script>
